@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<div class="text-center darker-green">
    <h1>Adminpagina</h1>
</div>
<div class="text-center">
    <h3>Beheer alle gebruikers en recepten</h3>
</div>

<div class="container mt-5 navblock">
    <ul class="nav nav-tabs nav-tabs-recipe" id="adminTabs" role="tablist">
        <li class="nav-item nav-item-recipe" role="presentation">
            <a class="nav-link nav-link-recipe active darker-green" id="users-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true"><h4>Gebruikers</h4></a>
        </li>
        <li class="nav-item nav-item-recipe" role="presentation">
            <a class="nav-link nav-link-recipe darker-green" id="recipes-tab" data-bs-toggle="tab" href="#recipes" role="tab" aria-controls="recipes" aria-selected="false"><h4>Recepten</h4></a>
        </li>
    </ul>
    <div class="tab-content tab-content-recipe" id="adminTabsContent">
        <div class="container tab-pane tab-pane-recipe show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <h2 class="mt-3 darker-green">Gebruikers</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Voornaam</th>
                            <th>Woonplaats</th>
                            <th>Email</th>
                            <th>Gebruiker Details</th>
                            <th class="text-center">Verwijder gebruiker</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.CityOfResidence</td>
                                <td>@user.Email</td>
                                <td><a class="black" asp-action="Details" asp-controller="Admin" asp-route-id="@user.Id">Details</a></td>
                                <td class="text-center">
                                   @{
                                        var userRoles = await UserManager.GetRolesAsync(user);
                                        if (userRoles.Contains("Admin"))
                                            {
                                            <span class="text-muted">Admin</span>
                                            }
                                        else
                                            {
                                            <span class="darker-red bi bi-trash admin-trash" onclick="showConfirmationUser('@user.Id', '@user.FirstName')"></span>
                                            <form id="removeUserForm_@user.Id" asp-controller="Admin" asp-action="RemoveUser" method="post" style="display: none;">
                                                <input type="hidden" name="userId" value="@user.Id" />
                                            </form>
                                            }
                                   }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container tab-pane tab-pane-recipe fade" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
            <h2 class="mt-3 darker-green">Recepten</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Beschrijving</th>
                            <th>Bereidingswijze</th>
                            <th>Bedenker</th>
                            <th>Aanmaakdatum</th>
                            <th>Aantal personen</th>
                            <th class="text-center">Verwijder recept</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var recipe in Model.Recipes)
                        {
                            <tr>
                                <td>@recipe.Title</td>
                                <td>@recipe.Description</td>
                                <td>@string.Join(" ", recipe.Instructions)</td>
                                <td>@recipe.Creator.FirstName</td>
                                <td>@recipe.CreationDate.ToString("yyyy-MM-dd")</td>
                                <td>@recipe.NumberOfPeople</td>
                                <td class="text-center admin-trash">
                                    <span class="darker-red bi bi-trash" onclick="showConfirmationRecipe('@recipe.Id', '@recipe.Title')"></span>
                                    <form id="removeRecipeForm_@recipe.Id" asp-controller="Admin" asp-action="RemoveRecipe" method="post" style="display: none;">
                                        <input type="hidden" name="recipeId" value="@recipe.Id" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationScreen" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <p class="modal-title" id="confirmationMessage"</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-darker-orange" id="cancelButton"><h3>Annuleren</h3></button>
                <button type="button" class="btn btn-primary btn-darker-red" id="confirmButton"><h3>Verwijder</h3></button>
            </div>
        </div>
    </div>
</div>
