@model Verrukkulluk.Models.ViewModels.UserDetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container col-sm-24 col-md-12 col-xl-8">
    <div class="m-3">
        <div class="card shadow">
            <div class="card-header text-center">
                <h1 class="darker-green" font-family="heading">User Details</h1>
            </div>
            <a class="px-2 text-black" asp-action="Index" asp-controller="Admin">Back to Overview</a>

            <div class="display-block">
                <div class="container text-start">
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3 class="darker-green">Account Info</h3>
                            <form asp-action="UpdateUser" asp-controller="Admin" asp-route-id="@Model.User.Id">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="User.Email" class="control-label"></label>
                                    <input asp-for="User.Email" class="form-control" />
                                    <span asp-validation-for="User.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.FirstName" class="control-label"></label>
                                    <input asp-for="User.FirstName" class="form-control" />
                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.PhoneNumber" class="control-label"></label>
                                    <input asp-for="User.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.CityOfResidence" class="control-label"></label>
                                    <input asp-for="User.CityOfResidence" class="form-control" />
                                    <span asp-validation-for="User.CityOfResidence" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Edit" class="btn btn-primary" />
                                </div>
                            </form>
                            <p>ID: @Model.User.Id</p>
                            <p>Email: @Model.User.Email</p>
                            <p>First Name: @Model.User.FirstName</p>
                            <p>Phone: @Model.User.PhoneNumber</p>
                            <p>City: @Model.User.CityOfResidence</p>
                        </div>
                    </div>
                </div>
                <div class="container text-start">
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3 class="darker-green">Recipes</h3>
                            @for(int i =0; i < Model.Recipes.Length; i++) {
                                Recipe recipe = Model.Recipes[i];
                                <a class="text-black" asp-action="Recipe" asp-controller="Admin" asp-route-id="@recipe.Id">@recipe.Title</a><br />
                                <input type="text" name="Recipes[@i].Title" value="@recipe.Title" />
                            }
                        </div>
                    </div>
                </div>
                <div class="container text-start">
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3 class="darker-green">Comments</h3>
                            @foreach (var comment in Model.RecipeRatings) {
                                <p>Comment from: <b>@comment.Recipe.Title</b></p>
                                <p>@comment.Comment</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>