@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Verrukkulluk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Verrukkulluk.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.2.2/font/bootstrap-icons.css">
</head>
<body>
    <header>
        @if (ViewData["HideCarousel"] == null || !(bool)ViewData["HideCarousel"])
        {
            <!--Courousel-->
            <div id="carousel" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">

                <!--Indicators-->
                <div class="carousel-indicators">
                    <button data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
                    <button data-bs-target="#carousel" data-bs-slide-to="1"></button>
                    <button data-bs-target="#carousel" data-bs-slide-to="2"></button>
                </div>

                <!--Images-->
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="~/images/pexels-ella-olsson.jpg" alt="pexels-ella-olsson" class="d-block w-100" />
                    </div>
                    
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="~/images/pexels-jane-doan.jpg" alt="pexels-jane-doan" class="d-block w-100" />
                    </div>
                    
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="~/images/pexels-robin-stickel.jpg" alt="pexels-robin-stickel" class="d-block w-100" />
                    </div>
                </div>
            </div>
        }

        @if (ViewData["ShowBanner"] != null && (bool)ViewData["ShowBanner"])
        {
            <!--Banner-->
            <div class="single-image-container">
                <img src="~/Images/pexels-ella-olsson.jpg" alt="Couscous" id="recipeBanner" class="d-block w-100 img-crop" />
            </div>
        }

        <div class="container">
            <div class="row">
                <!--Overlay Image: logo-->
                <div class="verrukkulluk-logo">
                    <a href="@Url.Action("Index", "Verrukkulluk")">
                        <img src="~/images/verrukkulluk-logo.png" alt="verrukkulluk-logo" />
                    </a>
                </div>

                <!--Search bar and Offcanvas button toggle-->
                <div class="container">
                    <div class="d-flex justify-content-between align-items-end">
                        <div class="search-bar">
                            <!--Moet nog een actie ingevuld worden-->
                            <form class="d-flex" action="" method="GET">
                                <div class="input-group">
                                    <button class="btn btn-custom border-custom" type="submit">
                                        <i class="bi bi-search icon-adjust"></i>
                                    </button>
                                    <input class="form-control border-custom me-2" type="search" placeholder="Zoeken" aria-label="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Overlay Toggle Top Offcanvas -->
        <div class="offcanvas offcanvas-top offcanvas-large" id="demo">
            <div class="offcanvas-body d-flex align-items-center justify-content-between offcanvas-large">
                <img src="~/images/verrukkulluk-logo.png" style="width: 250px" alt="verrukkulluk-logo" />
                <div class="d-inline ms-3">
                    <div class="ms-auto lighter-red">
                        <h2>Mijn recepten</h2>
                    </div>
                </div>
                <div class="d-inline ms-3">
                    <div class="ms-auto lighter-red">
                        <h2>Mijn favorieten</h2>
                    </div>
                </div>
                <div class="d-inline ms-3">
                    <div class="ms-auto lighter-red">
                        <a class="shoplist-link" asp-controller="Verrukkulluk" asp-action="MijnBoodschappenLijst">
                            <h2>Mijn boodschappenlijst</h2>
                        </a>
                    </div>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="d-inline ms-3">
                        <div class="ms-auto lighter-red">
                            <a class="shoplist-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <h2>Mijn Profiel (@User.Identity?.Name)</h2>
                            </a>
                        </div>
                    </div>
                    <div class="d-inline ms-3">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", new { area = "" })">
                            <button type="submit" class="shoplist-link">Logout</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="d-inline ms-3">
                        <div class="ms-auto lighter-red">
                            <a class="shoplist-link" asp-area="Identity" asp-page="/Account/Login">
                                <h2>Login</h2>
                            </a>
                        </div>
                    </div>
                    <div class="d-inline ms-3">
                        <div class="ms-auto lighter-red">
                            <a class="shoplist-link" asp-area="Identity" asp-page="/Account/Register">
                                <h2>Registreren</h2>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="offcanvas offcanvas-end" id="demo1">
            <div class="offcanvas-body align-items-center justify-content-between">
                <img src="~/images/verrukkulluk-logo.png" style="width: 250px"alt="verrukkulluk-logo"/>
                <div class="d-inline">
                    <div class="ms-5 ps-4 lighter-red">
                        <h2>Mijn recepten</h2>
                    </div>
                </div>
                <div class="d-inline">
                    <div class="ms-5 ps-4 lighter-red">
                        <h2>Mijn favorieten</h2>
                    </div>
                </div>
                <div class="d-inline">
                    <div class="ms-5 ps-4 lighter-red">
                        @{
                            <a class="shoplist-link" asp-controller="Verrukkulluk" asp-action="MijnBoodschappenLijst"><h2>Mijn boodschappenlijst</h2></a>
                        }
                    </div>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="d-inline">
                        <div class="ms-5 ps-4 lighter-red">
                            <a class="shoplist-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <h2>Mijn Profiel (@User.Identity?.Name)</h2>
                            </a>
                        </div>
                    </div>
                    <div class="d-inline">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", new { area = "" })">
                            <button type="submit" class="shoplist-link">Logout</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="d-inline">
                        <div class="ms-5 ps-4 lighter-red">
                            <a class="shoplist-link" asp-area="Identity" asp-page="/Account/Login">
                                <h2>Login</h2>
                            </a>
                        </div>
                    </div>
                    <div class="d-inline">
                        <div class="ms-5 ps-4 lighter-red">
                            <a class="shoplist-link" asp-area="Identity" asp-page="/Account/Register">
                                <h2>Registreren</h2>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--Overlay button toggle-->
        <div class="container d-none d-lg-block">
            <div class="d-flex justify-content-end">
                <button id="toggleButton" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                    <i class="bi bi-list lighter-orange"></i>
                </button>
            </div>
        </div>
        <div class="container d-lg-none">
            <div class="d-flex justify-content-end">
                <button id="toggleButton" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo1">
                    <i class="bi bi-list lighter-orange"></i>
                </button>
            </div>
        </div>
    </header>

    <div class="container" style="padding-bottom:240px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container mt-5 mb-5">
            <div class="d-inline-flex">
                <div>
                    <img id="simpleLogo" src="~/images/logo-zonder-verrukkeluk.png">
                </div>
                <div>
                    <img class="titleUnderlined" src="~/images/Contact-met-streep.png">
                    <p>
                        Verrukkulluk.nl <br />
                        Poststraat 2b <br />
                        Sittard <br />
                        info@verrukkulluk.nl <br />
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
