@model Verrukkulluk.ViewModels.AddRecipe
@{
    ViewData["Title"] = "Recept Maken";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-xl-3">
            <img class="img-fluid" src="~/images/bereiden.jpg"/>
        </div>
        <div class="col-xl-9 col-12">
            <div class="car card-create-recipe shadow p-4">
                <div class="container">
                    <div class="card-create-recipe-header darker-green">
                        <h1>@ViewData["Title"]
                        <h2>Voeg hier uw heerlijke recept toe</h2>
                        <hr />
                    </div>
                    @using (Html.BeginForm("ReceptMaken", "Verrukkulluk", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group form-floating mb-4">
                            <input asp-for="Title" class="form-control" placeholder="Titel van het recept"/>
                            <label asp-for="Title" class="control-label">Titel van het recept</label>   
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group form-floating mb-4">
                            <textarea asp-for="Description" class="form-control" placeholder="Beschrijving" oninput="autoSize(this)"></textarea>
                            <label asp-for="Description" class="control-label">Beschrijving</label>   
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                            <p>Bereidingswijze:</p>
                        <div class="form-group form-floating instructionStep">
                            @{int countSteps = Model.Instructions?.Count() ?? 0; }
                            @for (int step = 0; step < countSteps; step++) {
                            string instruction = Model.Instructions?.ElementAtOrDefault(step) ?? "";
                            <div class="form-group form-floating mb-4 instructionStep">
                                <textarea class="form-control instruction" name="Instructions[@step]" placeholder="Bereidingswijze" oninput="autoSize(this)" onkeydown="addInstructionStep(this)">@instruction</textarea>
                                <label class="control-label">Stap @(step+1)</label>
                            </div>
                            }   
                            <span asp-validation-for="Instructions" class="text-danger"></span>
                        </div>
                        <div class="form-group form-floating mt-4 mb-4">
                            <p>Ingrediënten:</p>
                            @{ int count = Model.Ingredients?.Count() ?? 0; }
                            <script>var ingredientCount = @count</script>
                            <div id="ingredients" class="mb-3">
                                @for(int i=0; i < count; i++) {
                                    Ingredient ingredient = Model.Ingredients.ElementAt(i); 
                                <div class="row">
                                    <label class="col-2">@ingredient.Name</label>
                                    <input type="number" class="col-2 formField" name="AddedIngredients[@i].Amount" value="@ingredient.Amount">
                                    <input type="hidden" name="AddedIngredients[@i].Id" value="@ingredient.Id">
                                    <input type="hidden" name="AddedIngredients[@i].ProductId" value="@ingredient.ProductId">
                                    <div class="col-2">@ingredient.Product.IngredientType</div>
                                </div>
                                }
                            </div>
                            <div class="form-group form-floating mb-4">
                                <div class="d-flex">
                                    <input type="text" list="productsList" class="form-control form-control-smaller" id="newProduct">
                                    <button class="btn btn-addProduct" id="addProduct">Voeg toe</button>
                                    <span id="newProductErr" class="text-danger"></span>
                                    <datalist id="productsList">
                                        @foreach(Product product in Model.Products ?? new List<Product>()) {
                                            <option value="@product.Name" data-product-id="@product.Id"></option>
                                        }
                                    </datalist>
                                </div
                            </div>
                        </div>
                        <div class="form-group mb-4 d-flex">
                            <label asp-for="NumberOfPeople">Dit gerecht is voor</label>
                            <input type="number" class="form-control ms-2" name="NumberOfPersons" value="4" min="1" max="20" style="width: 60px;"/>
                            <label class="ms-2">personen.</label>
                            <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="KitchenType" class="visually-hidden"></label>
                            <select asp-for="KitchenType" class="form-control form-control-smaller" size="1">
                                <option value="">Type keuken</option>
                                <option value="Aziatisch">Aziatisch</option>
                                <option value="Amerikaans">Amerikaans</option>
                                <option value="Turks">Turks</option>
                                <option value="Frans">Frans</option>
                                <option value="Grieks">Grieks</option>
                                <option value="Hollands">Hollands</option>
                                <option value="Italiaans">Italiaans</option>
                                <option value="Mexicaans">Mexicaans</option>
                                <option value="Indisch">Indisch</option>
                                <option value="Spaans">Spaans</option>
                                <option value="Marokkaans">Marokkaans</option>
                                <option value="Overig">Overig</option>
                            </select>
                            <span asp-validation-for="KitchenType" class="text-danger"></span>
                        </div>
                        <!--Add Picture-->
                       <div class="form mt-4">
                            <label for="DishPhoto" class="form-label">Afbeelding van het gerecht:</label>
                            <div class="input-group">
                                <input type="file"
                                    id="DishPhoto"
                                    accept=".png,.jpg,.jpeg,.gif,.tif"
                                    asp-for="DishPhoto"
                                    class="form-control"
                                    style="display: none;"
                                    onchange="handleFileSelect(this);" />
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary btn-browse" onclick="document.getElementById('DishPhoto').click();">Bladeren</button>
                                </div>
                                <div class="custom-file">
                                    <span class="custom-file-label form-control file-label" id="fileLabel">Geen afbeelding geselecteerd...</span>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger btn-delete-img" id="removeButton" style="display: none;" onclick="removeFile();">Verwijderen</button>
                                </div>
                            </div>
                            <img id="preview" src="#" alt="Voorbeeldafbeelding" style="display: none; max-width: 100%; margin-top: 10px;" />
                        </div>
                        <div class="form mt-4">
                            <input class="form-check-input" type="checkbox" id="myCheck"  name="remember" required>
                            <label class="form-check-label" for="myCheck"> Ik heb alles gecheckt en naar waarheid ingevuld.</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mt-4"><h3>Opslaan</h3></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

