@model Verrukkulluk.Models.EventModel;

@{
    ViewData["Title"] = "Event";
}
<div class="parent-container d-flex flex-wrap">
    <!--Login block-->
    @if(!Model.SignInManager.IsSignedIn(User))
        {
            <div class="container col-4 mt-2 d-none d-xl-block">
            @await Html.PartialAsync("../Shared/LoginBlock.cshtml", Model)
            </div>
        }
    <!--Event-->
    <div class="container col-sm-24 col-md-12 col-xl-8">
        <div class="m-3">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h1 class="darker-green" font-family="heading">Event</h1>
                </div>
                <div class="display-block">
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h2 class="darker-green"> @Model.Event.Title</h2>
                                <p>@Model.Event.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h3 class="darker-green"> Wanneer?</h3>
                                <p>Datum: @Model.Event.Date.ToString("D", new System.Globalization.CultureInfo("nl-NL"))</p>
                                <p>Begintijd: @Model.Event.StartTime.ToString("HH:mm")</p>
                                <p>Eindtijd: @Model.Event.EndTime.ToString("HH:mm")</p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h3 class="darker-green"> Locatie?</h3>
                                <p>Dit event zal gehouden worden op de volgende locatie:</p>
                                <p>@Model.Event.Place</p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h3 class="darker-green"> Prijs?</h3>
                                <p>De kosten voor dit event zijn:</p>
                                <p>€@Model.Event.Price</p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <a class="event-link" asp-controller="Verrukkulluk" asp-action="JoinEvent" asp-route-id="@Model.Event.Id"><h3>Meld je nu aan!</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



