@model Verrukkulluk.Models.HomeModel;
@{
    ViewData["Title"] = "Home Page";
}
<div class="parent-container d-flex flex-wrap">
    <div class="container col-sm-12 col-md-6 col-xl-4">
        <div class="row">
            <div class="col-12">
                <div class="m-3 mb-5">
                    <div class="card-events shadow">
                        <div class="card-header text-center">
                            <img class="titleUnderlined mt-3 mb-2" src="../images/Agenda-met-streep.png">
                        </div>
                        <div class="display-block">
                            <div class="container text-start agenda-scroll" id="agendaScroll">
                                <!-- Events -->
                                @foreach (Event Event in Model.Events)
                                {
                                    <div id="event@(Event.Id)" class="agenda-event">
                                        <div class="d-inline-flex">
                                            <div class="px-2">
                                                <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                                            </div>
                                            <div class="px-2">
                                                <div>
                                                    <a class="event-link" asp-controller="Event" asp-action="Event" asp-route-id="@Event.Id"><h3>@Event.Title</h3></a>
                                                </div>
                                                <p>@Event.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="small-agenda">
                                <!-- Event navigation buttons -->
                                <ul class="pagination justify-content-center">
                                    @foreach (Event Event in Model.Events)
                                    {
                                        <li class="page-item"><a class="page-link" href="#" onclick="scrollToEvent(event, @(Event.Id))">@Event.Id</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                @if (!Model.SignInManager.IsSignedIn(User))
                {
                    @await Html.PartialAsync("../Shared/LoginBlock.cshtml", Model)
                }
            </div>
        </div>
    </div>

    <!-- Recipe Cards -->
    <div class="container col-sm-12 col-md-6 col-xl-4">
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[0])
                <div class="col-12">
                    @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[1])
                </div>
            </div>
            <div class="container col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-12">
                        @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[2])
                        <div class="col-12 col-md-6 col-xl-12">
                            @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[3])
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="container col-xl-8 offset-xl-4">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
        </div>
    </div>
</div>