@model Verrukkulluk.Models.UserEventsModel;

@{
    ViewData["Title"] = "Ingeschreven events";
}

<h1>Ingeschreven events</h1>

<ul>
    @foreach (Event SignedUpEvent in Model.SignedUpEvents)
    {
        <form action="/Verrukkulluk/EventSignOut" method="post">
            <input type="hidden" id="eventId" name="eventId" value="@SignedUpEvent.Id" />
            <input type="hidden" id="eventId" name="userEmail" value="@Model.userEmail" />
            <div>
                <li class="h5">
                    <a asp-action="Event" asp-route-id="@SignedUpEvent.Id" class="darker-green">@SignedUpEvent.Title</a> -
                    @SignedUpEvent.Date van @SignedUpEvent.StartTime tot @SignedUpEvent.EndTime
                    <button type="submit" class="btn-admin">Uitschrijven</button>
                </li>
            </div>
        </form>
    }
</ul>






